/* background image */

html {
    background: url("./assets/images/NASA_Mars_Rover.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.report-heading div {
    display: flex;
    color: black;
    margin-left: 1rem;
}

.report-line div {
    display: flex;
    color: red;
    margin-left: 1rem;
}

.report-column div span:nth-child(1) {
    width: 6rem;
}

.report-column div span:nth-child(2) {
    width: 7rem;
}

.report-column div span:nth-child(3) {
    width: 5rem;
}

.report-column div span:nth-child(4) {
    width: 10rem;
}

.report-column div span:nth-child(5) {
    width: 25rem;
}

/* welcome message animation */

h2 {
    -webkit-animation: color-change 1.5s infinite;
    -webkit-animation-direction: alternate;
    -moz-animation: color-change 1.5s infinite;
    -moz-animation-direction: alternate;
    -o-animation: color-change 1.5s infinite;
    -o-animation-direction: alternate;
    -ms-animation: color-change 1.5s infinite;
    -ms-animation-direction: alternate;
    animation: color-change 1.5s infinite;
    animation-direction: alternate;
    margin-left: 1rem;
}

@-webkit-keyframes color-change {
    from {color: black;}
    to {color: red;}
}

@-moz-keyframes color-change {
    from {color: black;}
    to {color: red;}
}

@-ms-keyframes color-change {
    from {color: black;}
    to {color: red;}
}

@-o-keyframes color-change {
    from {color: black;}
    to {color: red;}
}

@keyframes color-change {
    from {color: black;}
    to {color: red;}
}

label {
  display: inline-block;
  width: 9rem;
  text-align: right;
  vertical-align: top;
  font-size: 1.25rem;
  color: black;
  margin: 0.5rem 0.25rem 0.25rem 0.25rem;
}​

.App h3, h4 {
    margin: 0;
}

h3 {
    font-size: 1.25rem;
    margin: 0 0 0 9.75rem;
}

h4 {
    font-size: 1.25rem;
    margin: 0 0 0 1rem;
}

.App input {
    font-size: 3rem;
}

input[type=text] {
    color: black;
    outline: none;
    font-size: 1.25rem;
    margin: 0.25rem;
}

input[type=text]:focus {
    border: 3px solid red;
}

input[type=number] {
    color: black;
    outline: none;
    font-size: 1.25rem;
    margin: 0.25rem;
}

input[type=number]:focus {
    border: 3px solid red;
}

input[type=date] {
    color: black;
    outline: none;
    font-size: 1.25rem;
    margin: 0.25rem;
}

input[type=date]:focus {
    border: 3px solid red;
}

input[type=submit] {
    color: black;
    font-size: 1.25rem;
    border-style: none;
    border-radius: 6px;
    outline: none;
    margin: 1rem 1rem 1rem 9.75rem;
    padding: 5px 10px 5px 10px;
}

input[type=submit]:focus {
    border: 3px solid red;
}

select {
    color: black;
    outline: none;
    font-size: 1.25rem;
    margin: 0.25rem;
}

select:focus {
    border: 3px solid red;
}

textarea {
    color: black;
    outline: none;
    font-size: 1.25rem;
    margin: 0.25rem;
}

textarea:focus {
    border: 3px solid red;
}

/* main menu */

.main-menu {
    display: flex;
    margin: 0;
}

.container {
	display: flex;
    overflow: hidden;
    /*background-color: #333;*/
    background-color: black;
    font-family: Sans-Serif;
    list-style-type: none;
    color: white;
}

.container li {
    /*float: left;*/
    font-size: 16px;
    /*color: white;*/
    text-align: center;
    padding: 14px 16px;
    list-style-type: none;
    text-decoration: none;
}

.container a {
    color: white;
    list-style-type: none;
    text-decoration: none;
}

.dropdown {
    /*float: left;*/
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.dropbtn {
    display: flex;
}

.container li:hover, .dropdown:hover .dropbtn {
    background-color: red;
    list-style-type: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    /*background-color: #f9f9f9;*/
    background-color: black;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content ul {
    padding: 0;
}

.dropdown-content li {
    /*float: none;*/
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content li:hover {
    /*background-color: #ddd;*/
    background-color: red;
}

.dropdown:hover .dropdown-content {
    display: block;
}
